#DV1 {
  width: 30%; 
 
  background: #4d5f8d; 
  margin: 0% 0% 0% 5%
  padding: 10px;
  

  }
 #DV2 {
  width: 70%;
  
  background: #CED8F6; 
  margin: 0% 5% 0% 0%
  padding: 10px;



  } 
  
  #sub{
	  
	 
font-size:25px;	 
font-family:Arial;
color: #4d5f8d; 
  }
 
 hr{
width: 70%;
margin-right: 30%;	
  }

h1{

color: white; 
font-family:Arial;
	
}

  
 #topico{
font-size:30px;	 
font-family:Arial;
color: #4d5f8d;
 
 }
 
 
 p{

font-size:20px;	 
font-family:Arial;
color: gray; 
	 
 }
  
  .mainDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .indice {
border:1px solid #25692A;
border-radius:4px;
display:inline-block;
cursor:pointer;
font-family:Arial;
font-weight:bold;
font-size:13px;
padding:6px 10px;
text-decoration:none;
margin:10px 0 10px 10px;
width:90px;

} 


.indice {
border-color:#46a7f5;
background:linear-gradient(to bottom, #86c6f8 5%, #46a7f5 100%);
box-shadow:inset 0px 1px 0px 0px #d7ecfd;
color:#fff;
text-shadow:0px 1px 0px #528009;  
}


.indice:hover {
background:linear-gradient(to bottom, #46a7f5 5%, #86c6f8 100%);
}
  
  