#DV1 {
width: 30%; 
background: #4d5f8d; 
overflow-y: scroll;
overflow-x: hidden;
left: 0;
right: 70%;
top: 0;
bottom: 0;
position: fixed;
z-index: 1;
  

  }
 #DV2 {
  width: 70%;
  margin-left: 30%;
  padding: 10px;
  background: white; 
  top: 0;


			

  } 
  #foto{
	

  }

  
  #sub{
	  
	 
font-size:25px;	 
font-family:Arial;
color: #4d5f8d; 
  }
 
 hr{
width: 70%;
margin-right: 30%;	
  }

h3{

color: white; 
font-family:Arial;
	
}

  
 #topico{
font-size:30px;	 
font-family:Arial;
color: #4d5f8d;
 
 }
 
 
 p{

font-size:20px;	 
font-family:Arial;
color: black; 
	 
 }
  
  .mainDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .indice {
	color: #fff;
	padding: 8px 16px;
	float: left;
	position: relative;
	text-decoration:none;
	width: 100%;
	height:20px;
	border: none;
	display: block;
	outline: 0;

font-family:Arial;
font-weight:bold;
font-size:13px;
padding:6px 10px; 
} 






.indice:hover {
background:#1E90FF;
}
  
  
  
  
